:root {
    --bgcolor: #dedede;
    --sidebar-width: calc(100px + 10vw);
    --primary-color: #0022e4;
}

::-moz-selection {
    background-color: var(--primary-color);
    color: white;
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

body {
    background-color: var(--bgcolor);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.4s;
}

a:hover {
    color: var(--primary-color);
}

.form-label {
    margin-top: 15px;
}

.submit-button {
    width: 100%;
    margin-top: 70px;
    border: none;
}

.neu-button {
    padding: 15px 20px 10px 20px;
    background-color: var(--bgcolor);
    border-radius: 30px;
    box-shadow: 8px 8px 30px #b8b8b8,
                -8px -8px 30px #ffffff;
    transition: all 0.3s;
}

.neu-button:hover {
    box-shadow: 5px 5px 14px #b8b8b8,
                -5px -5px 14px #ffffff;
}

.neu-form {
    padding: 90px;
    border-radius: 30px;
    background: var(--bgcolor);
    box-shadow: 20px 20px 51px #b8b8b8,
                -20px -20px 51px #ffffff;
    width: calc(400px + 50%);
}

.neu-form h1 {
    margin-bottom: 30px;
}

.neu-form .btn {
    margin-top: 20px;
}

.overlay {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(200px + 10vh);
    background: linear-gradient(var(--bgcolor) 0%, var(--bgcolor) 80%, rgba(255, 255, 255, 0) 100%);
}

.sidebar {
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin: 50px;
    padding: 20px 20px 20px 50px;
    width: var(--sidebar-width);
    position: fixed;
    height: calc(100% - 100px);
    border-radius: 30px;
    background: var(--bgcolor);
    box-shadow: 31px 31px 51px #b8b8b8,
                -31px -31px 51px #ffffff;
  }
  
.navlink {
    display:block;
    color: black;
    padding: 16px;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.4s, font-size 0.3s;
}
  
.navlink:hover, .active-nav {
    color: var(--primary-color);
    font-size: 25px;
}

.logo {
    display: block;
    font-family: 'Monda', sans-serif;
    font-weight: bold;
    font-size: calc(50px + 5vw);
    text-decoration: none;
    color: var(--primary-color);
    transition: transform 0.4s;
}

.logo:hover {
    transform: translateX(35px);
    color: var(--primary-color);
}

#content {
    margin-left: calc(var(--sidebar-width) + 100px);
    padding: 50px;
    padding-top: calc(200px + 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: calc(20px + 1.2vw);
    row-gap: calc(20px + 1.2vw);;
    font-size: calc(10px + 1.5vw);
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: calc(50px + 10vw);
    min-width: calc(50px + 10vw);
    border-radius: 30px;
    background: var(--bgcolor);
    box-shadow:  11px 11px 30px #b8b8b8,
                -11px -11px 30px #ffffff;
    transition: all 0.3s;
}

.grid-item:hover {
    box-shadow:  7px 7px 15px #b8b8b8,
                -7px -7px 15px #ffffff;
}

.stat {
    grid-column-start: 2;
    grid-column-end: 4;

}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.controls-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
}

.graph-container {
    display: flex;
}